@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.comicContainer {
    display: flex;
}

.comicCoverImage > div > img {
    cursor: pointer;
    border-radius: 3px;
    width: 60px;
    height: 80px;
}

.comicInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 10px;
    width: 100%;
    font-size: small;
}

.comicTitle {
    cursor: pointer;
    max-width: 90%;
    overflow: hidden;
    color: $mainTextColor;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        color: $primaryColor;
    }
}

.comicInfo > span {
    cursor: pointer;
    color: $mainTextColor;
    text-decoration: none;
}

.comicInfo > span:hover {
    color: $primaryColor !important;
}

.comicSubInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comicView {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $primaryColor;
    font-size: medium;
}

.comicUpdateAt {
    color: $subTextColor;
    font-size: x-small;
}
