@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.gridItem {
    grid-area: 1;
    background-color: $subBGC;
    min-height: 669px;
    color: $mainTextColor;
}

.featureTitle {
    display: flex;
    justify-content: space-between;
}

.featureTitle span {
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
}

.fowardIcon {
    color: $white;
}

.comics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 10px 10px 10px;
}