@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.gridItem {
    grid-area: 1;
    background-color: $subBGC;
    min-height: 676.6px;
    color: $mainTextColor;
}

.featureTitle {
    display: flex;
    justify-content: space-between;
}

.featureTitle span {
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
}

.fowardIcon {
    color: $white;

    &:hover {
        transition: color 0.3s ease;
        color: $primaryColor;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.comics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 10px 10px 10px;
}

.emptyMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #9d9d9d;
    font-weight: 500;
    font-size: 16px;
}
