@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.emptyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(243, 170, 181, 0.4);
    border: 1px solid $primaryColor;
    border-radius: 10px;
    width: 80%;
    height: 100px;

    span {
        transform: scale(1.5);
        color: $primaryColor;
    }

    span:last-child {
        color: $mainTextColor;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .emptyContent {
        gap: 30px;
        span {
            transform: scale(1.2);
        }
    }
}
