@use '@styles/main.scss';
@use '@styles/variable.module' as *;

@media (max-width: 768px) {
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    z-index: 50;
    transition: background-color 0.3s ease;
    background-color: transparent;
    width: 100%;
    height: 56px;
}

.header.scrolled {
    border-bottom: 2px solid $primaryColor;
    background-color: $mainBGC;
}

.headerLogo img {
    cursor: pointer;
    width: 150px;
    height: 48px;
    object-fit: contain;
}

.headerFilter {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 50;
    background-color: #fff;
    background-color: $subBGC;
    padding: 0 10px;
    width: 650px;
    height: 32px;
    color: $white;

    @media (max-width: 1280px) {
        margin-right: 10px;
    }
}

.headerFilter > label {
    font-size: large;
}

.headerFilter input {
    outline: none;
    border: none;
    background-color: $subBGC;
    width: 100%;
    height: 100%;
    color: $mainTextColor;
}

.filterIcon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    width: 35px;
    height: 25px;
}

.filterIcon:hover {
    background-color: $hoverColor;
}

.headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    height: 100%;
    color: $mainTextColor;

    @media (max-width: 1280px) {
        display: none;
    }
}

.genreMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100%;
}

.genreMenu {
    display: flex;
    align-items: center;
}

.genreMenuIcon {
    margin-top: 3px;
}

.GenresSubMenu {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #1f1f1f;
    width: 580px;

    :hover {
        transition: color 0.3s ease;
        color: $primaryColor;
    }
}

.genreItem {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 145px;
    height: 40px;
    font-size: medium;
}

.genreItemIcon {
    transform: scale(0.6);
}

.headerUser {
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerUser > div {
    position: relative;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background-color: $sub2BGC;
    width: 32px;
    height: 30px;
}

.headerUser > div:hover {
    background-color: $hoverColor;
}

.luckyIcon,
.userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
}

.UserSubMenu {
    display: flex;
    position: absolute;
    top: 30px;
    right: -25px;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: 5px;
    background-color: $subBGC;
    width: 500% !important;
    height: 700% !important;
}

.UserSubMenu > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    width: 100% !important;
    height: 50% !important;
    color: #fff;
}

.UserSubMenu > span:hover {
    background-color: $mainBGC;
}

.UserSubMenu > span {
    padding-left: 10px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
