@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.chapterItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: $subBGC;
    padding: 0px 10px;
    width: 100%;
    min-height: 50px;
    color: $mainTextColor;

    &:hover {
        opacity: 0.8 !important;
        color: $primaryColor !important;
    }
}

.chapterTime {
    color: $subTextColor;
    font-size: 0.8rem;
}
