@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.passwordForm {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    width: 100%;
}

.myPassword {
    border-left: 1px solid $primaryColor;
    padding-left: 30px;
    width: 100%;
    height: 100%;
}

.error {
    color: $dangerColor;
}

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
