@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.carousel {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
