@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.history {
    margin-top: 100px;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $mainTextColor;
}

.titleText > span {
    font-weight: bold;
    font-size: xx-large;
}

.titleIcon {
    transform: scale(2);
    cursor: pointer;
    margin-right: 10px;
    color: $mainTextColor;
}

.content {
    padding: 20px 35px;
}

:global {
    .ant-pagination-prev,
    .ant-pagination-next {
        color: $mainTextColor;
    }

    .ant-pagination-options {
        display: none;
    }
}
