// Lưu các biến về màu sắc, kích cỡ,... dùng chung trong Project. 

$primaryColor: #f3aab5;
$mainBGC: #191a1c;
$secondaryBGC: #151515; 
$subBGC: #2c2c2c;
$sub2BGC: #3a3a3a;
$comicBGC: #1e1f1f;
$mainTextColor: #ffffff;
$subTextColor: hsl(240 5% 64.9%);
$white: #fff;
$black: #000;
$hoverColor: #333334;
$ongoingColor: #16a34a;
$upcomingColor: #0891b2;
$completedColor: #f3aab5;
$borderColor: hsl(0deg 0% 7.84%);
$dangerColor: #ff4d4f;