@use '@styles/main.scss';
@use '@styles/variable.module' as *;

.footer {
    position: relative;
    bottom: 0;
    margin-top: 100px;
    background-color: $secondaryBGC;
    padding: 10px 0;
    width: 100%;
}

.footerInfo {
    width: calc(100% / 4);
    color: $mainTextColor;
}

.footerLogo img {
    width: 200px;
    height: 100px;
    object-fit: none;
}

.footerDes {
    font-size: small;
}

.footerDes a {
    color: $primaryColor;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}
